* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body, html {
  height: 100%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, monospace;
  color: white;
}

/*
font-family: "Barrio", system-ui;
font-family: "Atma", system-ui;
font-family: "Dokdo", system-ui;
font-family: "Henny Penny", system-ui;
font-family: "Jolly Lodger", system-ui;
*/